language: ruby

rvm:
  - 1.9.3
  - 2.4.5
  - 2.5.3

before_install:
  - sudo apt-get install libtool autoconf automake uuid-dev build-essential
  - wget http://download.zeromq.org/zeromq-3.2.4.tar.gz && tar zxvf zeromq-3.2.4.tar.gz && cd zeromq-3.2.4 && ./configure && make && sudo make install && cd ..
# Only has 4.0.4, need 3.2 version due to old em-zeromq
#  - sudo add-apt-repository -y ppa:chris-lea/zeromq
#  - sudo apt-get update
#  - sudo apt-get install libzmq3 libzmq3-dev
  - gem install bundler -v 1.17.3

script: bundle exec rspec spec

notifications:
  hipchat:
    rooms:
      secure: a4nrCmDPwhteJA65QFRlBdnsknT+4y/JtZL/sLPCObOahFWvLOXMggPXvHAOssCaa2ydYrMMvWNliOz63nuu3qAnR90H7aOU3o+2K3zeACy0cAjF27lDonLhaYHeUz07oPwr/iDlFC8bDfFDempjIFFnXSc/LhUWaCltnJ7W5vI=
